* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}


.menu-bar {
    display: flex;
    list-style: none;
    display: flex;
    justify-content: space-around;
    

}

header {
    background-color: rgb(242, 243, 200);
    padding: 2% 5%;
    color: #e06880;
    position: sticky;
    top:0px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.link {
    margin-right: 20px;
    list-style: none;
}

.link-add {
    text-decoration: none;
}

nav li:hover {
    background-color:  #f2b4c1;
    padding: 8px;
    border-radius: 5px;
}

   

.banner-bg {
    background-color: #f6d7dd;

}

.banner {
    display: flex;
    width: 90%;
    margin: auto
}

.banner-title>h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.banner-title {
    width: 50%;
    height: auto;
    padding: 10% 5% 5% 10%;

}


.banner-title>p {
    margin-bottom: 20px;
    width: 80%;
}

.banner-title>button {
    padding: 15px 25px;
    background-color: #e06880;
    color: white;
    border-radius: 5px;
    border: none;
}

.banner>img {
    margin-right: 0px;
    width: 30%;
    height: auto;
}

.heading {
    width: 60%;
    height: auto;
    margin: auto;

}

.heading>p {
    text-align: center;
    padding: 20px 5px 40px 5px;
}

.heading>h3 {
    text-align: center;
    font-size: 30px;
    padding: 150px 5px 20px 5px;
}

.flower-items {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 50%;
    margin: auto;
    align-items: baseline;
}

.flower-items>img {
    width: 5%;
    height: auto;
}

.featured-flowers {
    width: 80%;
    height: auto;
    margin: auto;
}

.flower-pink {
    background-color: #f5d0e2;
    border-radius: 50% 50% 0% 0%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 80px 50px 0px 50px;

}

.flower-pink>img {
    width: 200px;
    height: 260px;

}

.flower-bouquet {

    background-color: #d1f1f3;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50% 50% 0% 0%;
    padding: 80px 50px 0px 50px;

}

.flower-bouquet>img {
    width: 200px;
    height: 260px;

}

.flower-yellow {
    background-color: #ddf0cb;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50% 50% 0% 0%;
    padding: 80px 50px 0px 50px;


}

.flower-yellow>img {
    width: 200px;
    height: 260px;

}

.flower-link {
    padding-top: 20px;
}
.flowers{
    text-align: center;
}

.service {
    display: flex;
    justify-content: space-around;
    height: auto;
    align-items: center;
    background-color: rgb(240, 234, 234);
    width: 72%;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
}

.job {
    padding: 10px;
    text-align: center;
}

.job>img {
    width: 50px;
    height: auto;
    padding: 10px;
}

.sale {
    display: flex;
    justify-content: space-around;
    height: auto;
    align-items: center;
    background-color: #f6ebee;
    margin-top: 140px;
}

.sale-add {
    padding: 80px;
    margin: auto;
    width: 40%;
    text-align: center;
    margin-left: 140px;
}

.sale-add>h3 {
    text-align: center;
    font-size: 30px;
    padding: 150px 5px 20px 5px;

}

.sale-add>button {
    padding: 15px 25px;
    background-color: #e06880;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}

.sale-pic img {
    height: 400px;
    width: 300px;
    padding: 40px;
    margin-right: 160px;
}

.insta-pic {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.insta-pic>img {
    height: 270px;
    width: 230px;

}

.instagram{
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 50px;
}

.insta{

    width: 60%;
    height: auto;
    margin: auto;
}

.insta>p{
    text-align: center;
    padding: 20px 5px 40px 5px;
}
.insta>h3{
    text-align: center;
    font-size: 30px;
    padding: 90px 5px 20px 5px;

}
.subscribe{
    background-image: url("./Flower Asset/Rectangle 9.png");
    background-size: 95% 80%;
    background-position: center;
    height:450px;
    background-repeat: no-repeat;
    width:80%;
    margin: auto;
    padding:10px;

}
.sub-head{
    width:60%;
    text-align: center;
    margin: auto;
    padding-top: 80px;
}
.sub-head>p{
    text-align: center;
    padding: 10px 5px 10px 5px;

}
.sub-head>h3{
    text-align: center;
    font-size: 30px;
    padding: 90px 5px 5px 5px;

}
.sub-head>input{
    width: 450px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}
.sub-head>button{
    background-color: #e06880;
    color: white;
    border-radius: 5px;
    border: none;
    height:39px;
    width:100px;

}
footer{
    background-color: black;
    color:white;
    text-align: center;
}
footer>h3{
    text-align: center;
    font-size: 30px;
    padding: 90px 5px 5px 5px;
}
footer>p{
    text-align: center;
    padding: 15px 5px 15px 5px;
    width:40%;
    margin:auto;
    line-height: 30px;
    color:#cccccc;
}
footer>.copy-right{
    font-size: smaller;
    color:#a49d9d;
}
.feedback{
    background-image: url("./Flower Asset/yellow-tulips.jpg");
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 750px;
}



.feedback>h3{
    text-align: center;
    font-size: 30px;
    padding: 90px 5px 5px 5px;
}
.feedback>p{
    text-align: center;
    padding: 20px 5px 15px 5px;
    width:100%;
    margin:auto;
    line-height: 30px;
    color:#614a4a;
}
fieldset{
    filter:opacity(.8);
    border:none;
    width:20%;
    margin:auto;
}
fieldset input[type=text]{
    width:100%;
    filter:opacity(.8);
    padding:12px 20px;
    margin:8px 0px;
    display: inline-block;
    border:1px solid rgb(239, 99, 99)
}
fieldset button{
    background-color: #e94a6a;
    color: white;
    border-radius: 5px;
    border: none;
    height:39px;
    width:100px;
}
.hed{
    font-size: 40px;
    text-align: center;
    padding:20px;
    color:#e94a6a;
    
}
.dis{
    display: flex;
    align-items: center;
    height:auto;
    justify-content: space-around;
}
.para{
    width:40%;
    padding:20px;
    margin:auto;
    height:auto;
}
.yelo{
    width:400px;
    height: 350px;
    margin: 20px 100px 50px 10px;
    
}
.pik{
    width:400px;
    height: 350px;
    margin:20px 10px 50px 100px;
}